.todo-app {
  margin: 0 auto;
  max-width: 30rem;
  min-width: 19rem;
  width: 50%;
}

.todo-app__add-todo-container {
  align-items: center;
  background-color: rgba(33, 33, 33, .6);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.todo-app__todo-list {
  color: var(--primary);
  height: 20rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow-y: auto;
  padding-right: .5rem;
}

.todo-app__add-todo-button-container {
  display: flex;
  justify-content: end;
}